@import "_partials/*/**";

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  line-height: 2;
  background: white;
}
a {
  text-decoration: none;
}
